# Fichier de configuration des secrets
# Copiez ce fichier en .streamlit/secrets.toml et remplissez avec vos vraies valeurs

[ssh]
hostname = "integrationprod.pixid-services.net"
port = 22
username = "VOTRE_IDENTIFIANT"
password = "VOTRE_MOT_DE_PASSE"
remote_path = "inbox"
